In [22]:
import pandas as pd
# import os
# import sys

In [23]:
# sys.path.insert(0, os.path.abspath('../dataset/Sample Superstore.xls'))

In [24]:
#import csv
read_file = pd.read_excel('/Users/newuser/ali/project/binar/notebook/dataset/Dataset Superstore Orders - BI Engineer.xlsx')

In [25]:
# print(read_file)
read_file

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Country,City,State,Postal Code,Region,Product ID,Sales,Quantity,Discount,Profit
0,1.0,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,261.9600,2.0,0.00,41.9136
1,2.0,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,731.9400,3.0,0.00,219.5820
2,3.0,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,14.6200,2.0,0.00,6.8714
3,4.0,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,957.5775,5.0,0.45,-383.0310
4,5.0,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,22.3680,2.0,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990.0,CA-2014-110422,2014-01-21,2014-01-23,Second Class,TB-21400,United States,Miami,Florida,33180.0,South,FUR-FU-10001889,25.2480,3.0,0.20,4.1028
9990,9991.0,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,United States,Costa Mesa,California,92627.0,West,FUR-FU-10000747,91.9600,2.0,0.00,15.6332
9991,9992.0,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,United States,Costa Mesa,California,92627.0,West,TEC-PH-10003645,258.5760,2.0,0.20,19.3932
9992,9993.0,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,United States,Costa Mesa,California,92627.0,West,OFF-PA-10004041,29.6000,4.0,0.00,13.3200
9993,9994.0,CA-2017-119914,2017-05-04,2017-05-09,Second Class,CC-12220,United States,Westminster,California,92683.0,West,OFF-AP-10002684,243.1600,2.0,0.00,72.9480

In [26]:
data = read_file

In [27]:
#show information dataset
data.info() #

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Row ID       9994 non-null   float64
 1   Order ID     9994 non-null   object
 2   Order Date   9994 non-null   datetime64[ns]
 3   Ship Date    9994 non-null   datetime64[ns]
 4   Ship Mode    9994 non-null   object
 5   Customer ID  9994 non-null   object
 6   Country      9994 non-null   object
 7   City         9994 non-null   object
 8   State        9994 non-null   object
 9   Postal Code  9994 non-null   float64
 10  Region       9994 non-null   object
 11  Product ID   9990 non-null   object
 12  Sales        9994 non-null   float64
 13  Quantity     9994 non-null   float64
 14  Discount     9994 non-null   float64
 15  Profit       9994 non-null   float64
dtypes: datetime64[ns](2), float64(6), object(8)
memory usage: 1.2+ MB

In [28]:
#show data 5 teratas
data.head(10)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Country,City,State,Postal Code,Region,Product ID,Sales,Quantity,Discount,Profit
0,1.0,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,261.9600,2.0,0.00,41.9136
1,2.0,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,731.9400,3.0,0.00,219.5820
2,3.0,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,14.6200,2.0,0.00,6.8714
3,4.0,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,957.5775,5.0,0.45,-383.0310
4,5.0,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,22.3680,2.0,0.20,2.5164
5,6.0,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,United States,Los Angeles,California,90032.0,West,FUR-FU-10001487,48.8600,7.0,0.00,14.1694
6,7.0,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,United States,Los Angeles,California,90032.0,West,OFF-AR-10002833,7.2800,4.0,0.00,1.9656
7,8.0,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,United States,Los Angeles,California,90032.0,West,TEC-PH-10002275,907.1520,6.0,0.20,90.7152
8,9.0,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,United States,Los Angeles,California,90032.0,West,OFF-BI-10003910,18.5040,3.0,0.20,5.7825
9,10.0,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,United States,Los Angeles,California,90032.0,West,OFF-AP-10002892,114.9000,5.0,0.00,34.4700

In [29]:
#show data desc 
data.tail(15)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Country,City,State,Postal Code,Region,Product ID,Sales,Quantity,Discount,Profit
9979,9980.0,US-2016-103674,2016-12-06,2016-12-10,Standard Class,AP-10720,United States,Los Angeles,California,90032.0,West,OFF-BI-10002026,437.472,14.0,0.2,153.1152
9980,9981.0,US-2015-151435,2015-09-06,2015-09-09,Second Class,SW-20455,United States,Lafayette,Louisiana,70506.0,South,FUR-TA-10001039,85.980,1.0,0.0,22.3548
9981,9982.0,CA-2017-163566,2017-08-03,2017-08-06,First Class,TB-21055,United States,Fairfield,Ohio,45014.0,East,OFF-LA-10004484,16.520,5.0,0.2,5.3690
9982,9983.0,US-2016-157728,2016-09-22,2016-09-28,Standard Class,RC-19960,United States,Grand Rapids,Michigan,49505.0,Central,OFF-PA-10002195,35.560,7.0,0.0,16.7132
9983,9984.0,US-2016-157728,2016-09-22,2016-09-28,Standard Class,RC-19960,United States,Grand Rapids,Michigan,49505.0,Central,TEC-PH-10001305,97.980,2.0,0.0,27.4344
9984,9985.0,CA-2015-100251,2015-05-17,2015-05-23,Standard Class,DV-13465,United States,Long Beach,New York,11561.0,East,OFF-LA-10003766,31.500,10.0,0.0,15.1200
9985,9986.0,CA-2015-100251,2015-05-17,2015-05-23,Standard Class,DV-13465,United States,Long Beach,New York,11561.0,East,OFF-SU-10000898,55.600,4.0,0.0,16.1240
9986,9987.0,CA-2016-125794,2016-09-29,2016-10-03,Standard Class,ML-17410,United States,Los Angeles,California,90008.0,West,TEC-AC-10003399,36.240,1.0,0.0,15.2208
9987,9988.0,CA-2017-163629,2017-11-17,2017-11-21,Standard Class,RA-19885,United States,Athens,Georgia,30605.0,South,TEC-AC-10001539,79.990,1.0,0.0,28.7964
9988,9989.0,CA-2017-163629,2017-11-17,2017-11-21,Standard Class,RA-19885,United States,Athens,Georgia,30605.0,South,TEC-PH-10004006,206.100,5.0,0.0,55.6470
9989,9990.0,CA-2014-110422,2014-01-21,2014-01-23,Second Class,TB-21400,United States,Miami,Florida,33180.0,South,FUR-FU-10001889,25.248,3.0,0.2,4.1028
9990,9991.0,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,United States,Costa Mesa,California,92627.0,West,FUR-FU-10000747,91.960,2.0,0.0,15.6332
9991,9992.0,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,United States,Costa Mesa,California,92627.0,West,TEC-PH-10003645,258.576,2.0,0.2,19.3932
9992,9993.0,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,United States,Costa Mesa,California,92627.0,West,OFF-PA-10004041,29.600,4.0,0.0,13.3200
9993,9994.0,CA-2017-119914,2017-05-04,2017-05-09,Second Class,CC-12220,United States,Westminster,California,92683.0,West,OFF-AP-10002684,243.160,2.0,0.0,72.9480

In [30]:
#calculate data row and coloumn
data.shape

(9994, 16)

In [31]:
data["Profit"].median()

8.6665

In [32]:
#show statistical number data type
data.describe()

,Row ID,Postal Code,Sales,Quantity,Discount,Profit
count,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000
mean,4997.500000,55190.379428,229.858001,3.789574,0.156203,28.656896
std,2885.163629,32063.693350,623.245101,2.225110,0.206452,234.260108
min,1.000000,1040.000000,0.444000,1.000000,0.000000,-6599.978000
25%,2499.250000,23223.000000,17.280000,2.000000,0.000000,1.728750
50%,4997.500000,56430.500000,54.490000,3.000000,0.200000,8.666500
75%,7495.750000,90008.000000,209.940000,5.000000,0.200000,29.364000
max,9994.000000,99301.000000,22638.480000,14.000000,0.800000,8399.976000

In [33]:
#statistical serderna all colloumn
data.describe(include = "all")

/var/folders/mw/7trd4drs0ls3k8h_w746_wpm0000gr/T/ipykernel_2385/492029716.py:2: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  data.describe(include = "all")
/var/folders/mw/7trd4drs0ls3k8h_w746_wpm0000gr/T/ipykernel_2385/492029716.py:2: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  data.describe(include = "all")

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Country,City,State,Postal Code,Region,Product ID,Sales,Quantity,Discount,Profit
count,9994.000000,9994,9994,9994,9994,9994,9994,9994,9994,9994.000000,9994,9990,9994.000000,9994.000000,9994.000000,9994.000000
unique,NaN,5009,1237,1334,4,793,1,531,49,NaN,5,1862,NaN,NaN,NaN,NaN
top,NaN,CA-2017-100111,2016-09-05 00:00:00,2015-12-16 00:00:00,Standard Class,WB-21850,United States,New York City,California,NaN,West,OFF-PA-10001970,NaN,NaN,NaN,NaN
freq,NaN,14,38,35,5968,37,9994,915,2001,NaN,3203,19,NaN,NaN,NaN,NaN
first,NaN,NaN,2014-01-03 00:00:00,2014-01-07 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last,NaN,NaN,2017-12-30 00:00:00,2018-01-05 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,4997.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55190.379428,NaN,NaN,229.858001,3.789574,0.156203,28.656896
std,2885.163629,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32063.693350,NaN,NaN,623.245101,2.225110,0.206452,234.260108
min,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1040.000000,NaN,NaN,0.444000,1.000000,0.000000,-6599.978000
25%,2499.250000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23223.000000,NaN,NaN,17.280000,2.000000,0.000000,1.728750
50%,4997.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,56430.500000,NaN,NaN,54.490000,3.000000,0.200000,8.666500
75%,7495.750000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90008.000000,NaN,NaN,209.940000,5.000000,0.200000,29.364000
max,9994.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99301.000000,NaN,NaN,22638.480000,14.000000,0.800000,8399.976000

In [34]:
#show data uninque / distinct
data["Customer ID"].unique()

array(['CG-12520', 'DV-13045', 'SO-20335', 'BH-11710', 'AA-10480',
       'IM-15070', 'HP-14815', 'PK-19075', 'AG-10270', 'ZD-21925',
       'KB-16585', 'SF-20065', 'EB-13870', 'EH-13945', 'TB-21520',
       'MA-17560', 'GH-14485', 'SN-20710', 'LC-16930', 'RA-19885',
       'ES-14080', 'ON-18715', 'PO-18865', 'LH-16900', 'DP-13000',
       'JM-15265', 'TB-21055', 'KM-16720', 'PS-18970', 'BS-11590',
       'KD-16270', 'HM-14980', 'JE-15745', 'KB-16600', 'SC-20770',
       'DN-13690', 'JC-16105', 'CS-12400', 'PG-18895', 'GM-14455',
       'JS-15685', 'KB-16315', 'RB-19705', 'PN-18775', 'KD-16345',
       'ER-13855', 'RB-19465', 'GZ-14470', 'LC-16870', 'JM-15250',
       'PA-19060', 'CV-12805', 'CL-12565', 'RC-19960', 'DK-13090',
       'GG-14650', 'SC-20725', 'AD-10180', 'PF-19165', 'TS-21610',
       'LS-16975', 'DW-13585', 'LC-16885', 'JD-15895', 'SH-19975',
       'SG-20080', 'HA-14920', 'MG-17680', 'JE-16165', 'TW-21025',
       'SP-20650', 'NK-18490', 'DB-13060', 'NP-18670', 'TT-21070',
       'EM-13960', 'RD-19900', 'MJ-17740', 'BM-11140', 'CS-12130',
       'JB-15400', 'SJ-20500', 'JK-15640', 'DK-13150', 'RM-19675',
       'SK-19990', 'FM-14290', 'AM-10360', 'MP-17470', 'MZ-17515',
       'CB-12025', 'VM-21685', 'FH-14365', 'MB-17305', 'BS-11755',
       'LC-17140', 'HK-14890', 'LE-16810', 'JH-15985', 'MS-17980',
       'VW-21775', 'JH-15910', 'JB-15925', 'DS-13180', 'VD-21670',
       'EA-14035', 'DB-13120', 'KL-16645', 'DW-13480', 'LH-17155',
       'KC-16540', 'DL-13315', 'DR-12880', 'CC-12670', 'Dl-13600',
       'SB-20290', 'RC-19825', 'AH-10210', 'CB-12535', 'CA-12310',
       'KH-16690', 'BB-10990', 'AG-10495', 'JO-15280', 'AH-10195',
       'NZ-18565', 'KL-16555', 'AS-10225', 'CR-12625', 'SH-20395',
       'BP-11185', 'TS-21205', 'AG-10525', 'SP-20860', 'NM-18445',
       'FA-14230', 'GK-14620', 'DJ-13510', 'PO-18850', 'JL-15850',
       'DB-13615', 'AC-10420', 'CC-12550', 'TD-20995', 'AB-10060',
       'JL-15505', 'VB-21745', 'KW-16435', 'JD-16060', 'MK-17905',
       'GT-14755', 'AG-10900', 'MM-18280', 'AR-10405', 'RA-19915',
       'AS-10285', 'LA-16780', 'DO-13435', 'DK-13225', 'NG-18430',
       'MV-18190', 'JG-15115', 'BP-11095', 'VP-21730', 'SS-20140',
       'AG-10675', 'LF-17185', 'RF-19840', 'KH-16510', 'KC-16675',
       'CJ-12010', 'PB-19150', 'MP-17965', 'NF-18385', 'SD-20485',
       'KH-16630', 'RB-19795', 'MK-18160', 'PO-19180', 'BB-11545',
       'TB-21595', 'RB-19360', 'EB-13705', 'SC-20095', 'TN-21040',
       'JS-15940', 'MH-17785', 'JP-15520', 'JE-15475', 'JG-15805',
       'XP-21865', 'EM-14065', 'MT-18070', 'SA-20830', 'CW-11905',
       'AJ-10960', 'SS-20590', 'RO-19780', 'MD-17350', 'MY-17380',
       'CM-12385', 'LS-17245', 'BN-11515', 'DB-13210', 'MC-17605',
       'BD-11605', 'PH-18790', 'MG-18145', 'KB-16240', 'JC-15340',
       'RL-19615', 'AA-10375', 'EP-13915', 'DK-12985', 'BD-11500',
       'LM-17065', 'AS-10135', 'BD-11320', 'GT-14710', 'AJ-10945',
       'OT-18730', 'LP-17080', 'CA-12775', 'JF-15490', 'FP-14320',
       'EB-13840', 'JF-15415', 'SF-20200', 'TG-21640', 'CS-11950',
       'CC-12145', 'DV-13465', 'BD-11725', 'ZC-21910', 'MS-17830',
       'LR-16915', 'TP-21130', 'CK-12205', 'AS-10240', 'AR-10510',
       'NB-18655', 'GD-14590', 'CK-12595', 'NG-18355', 'CA-12265',
       'SF-20965', 'MO-17800', 'AT-10735', 'FM-14380', 'DJ-13420',
       'ME-17725', 'JD-16150', 'JL-15835', 'SC-20305', 'CC-12430',
       'AR-10825', 'SR-20740', 'CR-12730', 'EH-14125', 'SP-20545',
       'TH-21235', 'RP-19390', 'RB-19570', 'CD-11980', 'DJ-13630',
       'GT-14635', 'MC-17845', 'RA-19285', 'NP-18325', 'AB-10165',
       'JO-15550', 'JK-15370', 'BN-11470', 'DP-13165', 'TH-21550',
       'AP-10915', 'RS-19765', 'SV-20365', 'CK-12325', 'RD-19810',
       'MR-17545', 'SC-20695', 'JF-15355', 'EG-13900', 'DS-13030',
       'PO-19195', 'SS-20875', 'PB-19105', 'RF-19735', 'YC-21895',
       'DC-13285', 'CP-12340', 'BF-11020', 'LH-17020', 'CS-12250',
       'AJ-10795', 'BV-11245', 'DL-12865', 'BM-11785', 'LT-17110',
       'JK-15730', 'ES-14020', 'RH-19495', 'CD-11920', 'HW-14935',
       'MC-18130', 'GM-14440', 'PJ-19015', 'BW-11110', 'TR-21325',
       'PG-18820', 'JL-15175', 'BM-11650', 'EM-14095', 'AF-10885',
       'GA-14725', 'CK-12760', 'DP-13105', 'BK-11260', 'SJ-20125',
       'CM-12445', 'AJ-10780', 'LS-16945', 'GP-14740', 'PK-18910',
       'SM-20005', 'AG-10765', 'PM-19135', 'LL-16840', 'JS-15595',
       'EL-13735', 'PC-18745', 'HL-15040', 'MS-17365', 'GB-14530',
       'JR-16210', 'BE-11335', 'SC-20050', 'RW-19630', 'SE-20110',
       'AH-10075', 'JM-15535', 'JJ-15760', 'RK-19300', 'CG-12040',
       'RP-19270', 'KC-16255', 'KH-16360', 'GH-14665', 'SW-20275',
       'JA-15970', 'DL-12925', 'LW-16990', 'TB-21190', 'BS-11800',
       'RW-19690', 'TZ-21580', 'AS-10630', 'TS-21340', 'SL-20155',
       'MW-18235', 'RD-19585', 'RA-19945', 'MT-17815', 'VG-21790',
       'JS-15880', 'KM-16225', 'HR-14770', 'DE-13255', 'AG-10390',
       'JJ-15445', 'JH-15430', 'RD-19660', 'MO-17500', 'NS-18640',
       'DG-13300', 'NF-18595', 'MG-17650', 'TS-21160', 'BD-11620',
       'CM-12160', 'SN-20560', 'EH-14005', 'FO-14305', 'MS-17710',
       'CC-12100', 'DW-13540', 'BT-11395', 'CY-12745', 'BT-11485',
       'PS-19045', 'PV-18985', 'NM-18520', 'DL-13495', 'CS-12355',
       'FH-14275', 'NC-18340', 'AA-10315', 'LT-16765', 'AP-10720',
       'PM-18940', 'AT-10435', 'CA-12055', 'HR-14830', 'BT-11530',
       'LH-16750', 'SW-20755', 'SP-20620', 'BF-11170', 'KT-16480',
       'BG-11695', 'GM-14680', 'EJ-14155', 'NP-18700', 'MH-18115',
       'JR-15700', 'SM-20950', 'CC-12220', 'PF-19225', 'DC-12850',
       'BD-11770', 'GM-14500', 'TB-21355', 'JH-16180', 'EB-13975',
       'QJ-19255', 'TC-21535', 'CS-12460', 'HG-14965', 'LW-16825',
       'MC-17575', 'LP-17095', 'EB-14170', 'GZ-14545', 'CP-12085',
       'FG-14260', 'LD-17005', 'AB-10255', 'MN-17935', 'JR-15670',
       'JF-15190', 'CM-12115', 'AS-10045', 'BP-11290', 'ND-18370',
       'LB-16735', 'KT-16465', 'HM-14860', 'AB-10600', 'SZ-20035',
       'MG-17890', 'JK-16120', 'PP-18955', 'YS-21880', 'KM-16375',
       'AB-10105', 'HA-14905', 'BT-11305', 'SV-20815', 'RW-19540',
       'DK-12835', 'ST-20530', 'MM-17920', 'PW-19030', 'SC-20440',
       'TS-21085', 'MC-17425', 'ME-17320', 'NH-18610', 'MB-18085',
       'KD-16495', 'KN-16390', 'NP-18685', 'CS-12505', 'MS-17770',
       'CM-12655', 'Co-12640', 'TS-21370', 'JW-15220', 'JD-15790',
       'PC-19000', 'AR-10540', 'AI-10855', 'TB-21400', 'PL-18925',
       'GH-14425', 'MP-18175', 'JM-15655', 'CL-11890', 'DB-13270',
       'IG-15085', 'BO-11425', 'AB-10150', 'JW-16075', 'EB-13750',
       'SG-20470', 'CM-12190', 'AW-10840', 'MC-18100', 'TT-21460',
       'VG-21805', 'MY-18295', 'RD-19480', 'DP-13390', 'ML-17395',
       'JC-15385', 'JG-15160', 'MC-17275', 'NW-18400', 'TB-21280',
       'BS-11380', 'HH-15010', 'CD-12280', 'TH-21100', 'MM-18055',
       'NS-18505', 'RB-19645', 'SW-20455', 'EB-13930', 'PS-18760',
       'HF-14995', 'HZ-14950', 'CD-12790', 'JK-15205', 'FM-14215',
       'ED-13885', 'DA-13450', 'JW-15955', 'RM-19375', 'ML-17755',
       'CC-12685', 'JE-15610', 'RP-19855', 'TB-21175', 'BE-11455',
       'JF-15565', 'PB-19210', 'BT-11680', 'JL-15235', 'CH-12070',
       'ND-18460', 'BF-10975', 'KH-16330', 'GW-14605', 'NC-18625',
       'ME-18010', 'BP-11230', 'JC-15775', 'AS-10090', 'AC-10450',
       'MD-17860', 'DB-13660', 'EH-13990', 'EH-13765', 'SC-20230',
       'JE-15715', 'AC-10615', 'JD-16015', 'CB-12415', 'JS-16030',
       'LW-17215', 'SC-20800', 'AM-10705', 'RH-19510', 'CT-11995',
       'MC-17590', 'CC-12610', 'KA-16525', 'TC-20980', 'BF-11080',
       'MM-17260', 'AH-10120', 'BW-11200', 'SW-20245', 'BS-11665',
       'RF-19345', 'WB-21850', 'TB-21625', 'AF-10870', 'RB-19435',
       'KF-16285', 'JH-15820', 'IL-15100', 'PB-18805', 'RH-19600',
       'AW-10930', 'ML-17410', 'DB-13555', 'MH-17620', 'DK-13375',
       'BT-11440', 'DB-13405', 'TG-21310', 'BF-11005', 'JM-16195',
       'MZ-17335', 'MW-18220', 'MV-17485', 'SM-20320', 'TP-21415',
       'JK-15625', 'PJ-18835', 'RS-19420', 'SV-20935', 'BC-11125',
       'EM-13825', 'BM-11575', 'KN-16705', 'KW-16570', 'SC-20260',
       'CV-12295', 'SG-20605', 'TM-21010', 'EM-13810', 'ML-18040',
       'CR-12580', 'AZ-10750', 'PW-19240', 'SC-20380', 'CM-11935',
       'GM-14695', 'TB-21250', 'JM-15865', 'SC-20575', 'LS-17200',
       'RR-19315', 'DB-12910', 'TT-21220', 'LO-17170', 'KD-16615',
       'NB-18580', 'BD-11635', 'CM-12235', 'EN-13780', 'KN-16450',
       'BO-11350', 'AG-10300', 'MC-17635', 'TA-21385', 'JF-15295',
       'TT-21265', 'SB-20170', 'CL-12700', 'HG-15025', 'NL-18310',
       'RR-19525', 'TC-21295', 'SV-20785', 'BE-11410', 'SC-20680',
       'DF-13135', 'FH-14350', 'MS-17530', 'RH-19555', 'GA-14515',
       'JP-16135', 'Dp-13240', 'MO-17950', 'DL-13330', 'MH-18025',
       'DR-12940', 'DM-13015', 'CA-11965', 'AC-10660', 'DM-13345',
       'VF-21715', 'CC-12370', 'BF-11275', 'HG-14845', 'BP-11155',
       'EM-14140', 'MA-17995', 'AY-10555', 'GB-14575', 'JB-16045',
       'MG-17875', 'SR-20425', 'JB-16000', 'DM-12955', 'TC-21475',
       'SW-20350', 'RE-19450', 'BF-11215', 'KB-16405', 'JG-15310',
       'EC-14050', 'EB-14110', 'JP-15460', 'CS-11845', 'GH-14410',
       'PT-19090', 'JL-15130', 'AH-10030', 'CC-12475', 'DW-13195',
       'SJ-20215', 'BG-11740', 'LB-16795', 'CM-11815', 'EH-14185',
       'TS-21505', 'PR-18880', 'LC-17050', 'CS-12490', 'DH-13075',
       'JO-15145', 'AH-10690', 'HJ-14875', 'MH-17455', 'RD-19930',
       'SC-20020', 'SU-20665', 'FC-14335', 'RB-19330', 'NC-18535',
       'DB-12970', 'MF-17665', 'RM-19750', 'VM-21835', 'EJ-13720',
       'NC-18415', 'LS-17230', 'KE-16420', 'DH-13675', 'PF-19120',
       'VT-21700', 'MG-17695', 'SP-20920', 'CS-12175', 'DK-12895',
       'KM-16660', 'AA-10645', 'DD-13570', 'AH-10465', 'TP-21565',
       'EK-13795', 'CR-12820', 'SG-20890', 'AH-10585', 'NF-18475',
       'BS-11365', 'SH-20635', 'RD-19720', 'AG-10330', 'GR-14560',
       'VS-21820', 'TM-21490', 'TS-21430', 'DB-13360', 'NR-18550',
       'CS-11860', 'MF-18250', 'LW-17125', 'AR-10345', 'KS-16300',
       'AB-10015', 'LR-17035', 'SS-20410', 'JM-15580', 'JK-15325',
       'DM-13525', 'ML-18265', 'MH-17290', 'FC-14245', 'TH-21115',
       'JK-16090', 'SB-20185', 'BG-11035', 'BW-11065', 'MG-18205',
       'DO-13645', 'BP-11050', 'TS-21655', 'EM-14200', 'AO-10810',
       'MH-17440', 'SS-20515', 'LD-16855', 'VP-21760', 'TC-21145',
       'IM-15055', 'AR-10570', 'CM-12715', 'FW-14395', 'LC-16960',
       'HE-14800', 'BD-11560', 'HD-14785', 'CJ-11875', 'RS-19870',
       'SC-20845', 'RE-19405', 'SM-20905'], dtype=object)

In [35]:
# data["Order ID"] = ["9994"]
data.loc[data['Order ID'] == "CA-2017-100111"]

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Country,City,State,Postal Code,Region,Product ID,Sales,Quantity,Discount,Profit
6090,6091.0,CA-2017-100111,2017-09-20,2017-09-26,Standard Class,SV-20365,United States,New York City,New York,10035.0,East,FUR-CH-10003846,272.646,3.0,0.1,18.1764
6091,6092.0,CA-2017-100111,2017-09-20,2017-09-26,Standard Class,SV-20365,United States,New York City,New York,10035.0,East,TEC-AC-10002647,212.800,2.0,0.0,95.7600
6092,6093.0,CA-2017-100111,2017-09-20,2017-09-26,Standard Class,SV-20365,United States,New York City,New York,10035.0,East,OFF-PA-10000807,38.520,9.0,0.0,18.1044
6093,6094.0,CA-2017-100111,2017-09-20,2017-09-26,Standard Class,SV-20365,United States,New York City,New York,10035.0,East,TEC-AC-10001465,72.640,2.0,0.0,21.7920
6094,6095.0,CA-2017-100111,2017-09-20,2017-09-26,Standard Class,SV-20365,United States,New York City,New York,10035.0,East,OFF-ST-10000615,45.400,4.0,0.0,12.7120
6095,6096.0,CA-2017-100111,2017-09-20,2017-09-26,Standard Class,SV-20365,United States,New York City,New York,10035.0,East,OFF-PA-10002713,13.760,2.0,0.0,6.3296
6096,6097.0,CA-2017-100111,2017-09-20,2017-09-26,Standard Class,SV-20365,United States,New York City,New York,10035.0,East,FUR-CH-10003061,80.991,1.0,0.1,8.0991
6097,6098.0,CA-2017-100111,2017-09-20,2017-09-26,Standard Class,SV-20365,United States,New York City,New York,10035.0,East,OFF-BI-10000343,11.784,3.0,0.2,3.9771
6098,6099.0,CA-2017-100111,2017-09-20,2017-09-26,Standard Class,SV-20365,United States,New York City,New York,10035.0,East,OFF-FA-10000304,4.360,2.0,0.0,1.7876
6099,6100.0,CA-2017-100111,2017-09-20,2017-09-26,Standard Class,SV-20365,United States,New York City,New York,10035.0,East,FUR-CH-10004086,2888.127,11.0,0.1,609.7157
6100,6101.0,CA-2017-100111,2017-09-20,2017-09-26,Standard Class,SV-20365,United States,New York City,New York,10035.0,East,TEC-PH-10002885,1299.660,2.0,0.0,350.9082
6101,6102.0,CA-2017-100111,2017-09-20,2017-09-26,Standard Class,SV-20365,United States,New York City,New York,10035.0,East,FUR-CH-10001215,2254.410,5.0,0.1,375.7350
6102,6103.0,CA-2017-100111,2017-09-20,2017-09-26,Standard Class,SV-20365,United States,New York City,New York,10035.0,East,TEC-PH-10000215,104.850,3.0,0.0,28.3095
6103,6104.0,CA-2017-100111,2017-09-20,2017-09-26,Standard Class,SV-20365,United States,New York City,New York,10035.0,East,TEC-AC-10001998,59.970,3.0,0.0,20.3898

In [36]:
# # check missing value
# data = pd.DataFrame(data)

# using isnull() function
data.isnull()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Country,City,State,Postal Code,Region,Product ID,Sales,Quantity,Discount,Profit
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9990,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9991,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9992,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9993,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [37]:
# data.loc[data['Product ID'] == "NaN"]
data.columns[data.isnull().any()].tolist()

['Product ID']

In [38]:
#check data insull with resume jumlah
data.isnull().sum()

Row ID         0
Order ID       0
Order Date     0
Ship Date      0
Ship Mode      0
Customer ID    0
Country        0
City           0
State          0
Postal Code    0
Region         0
Product ID     4
Sales          0
Quantity       0
Discount       0
Profit         0
dtype: int64

In [39]:
data_test = pd.read_csv('/Users/newuser/ali/project/kampus merdeka/repo_dibimbing/dataset/Data latihan sql/Sample - Store - Orders.csv')

In [40]:
#check data duplicat
data_test.duplicated().sum()

1

In [42]:
# data_categories.duplicated().sum()

In [43]:
#show data is duplicate
data_test[data_test.duplicated(keep=False)]

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
3405,US-2014-150119,04/23/2014,04/27/2014,Standard Class,LB-16795,Laurel Beltran,Home Office,United States,Columbus,Ohio,43229,East,FUR-CH-10002965,Furniture,Chairs,Global Leather Highback Executive Chair with P...,281.372,2,0.3,-12.0588
3406,US-2014-150119,04/23/2014,04/27/2014,Standard Class,LB-16795,Laurel Beltran,Home Office,United States,Columbus,Ohio,43229,East,FUR-CH-10002965,Furniture,Chairs,Global Leather Highback Executive Chair with P...,281.372,2,0.3,-12.0588

In [44]:
data_test.loc[data_test['Order ID'] == "US-2014-150119"]

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
3405,US-2014-150119,04/23/2014,04/27/2014,Standard Class,LB-16795,Laurel Beltran,Home Office,United States,Columbus,Ohio,43229,East,FUR-CH-10002965,Furniture,Chairs,Global Leather Highback Executive Chair with P...,281.372,2,0.3,-12.0588
3406,US-2014-150119,04/23/2014,04/27/2014,Standard Class,LB-16795,Laurel Beltran,Home Office,United States,Columbus,Ohio,43229,East,FUR-CH-10002965,Furniture,Chairs,Global Leather Highback Executive Chair with P...,281.372,2,0.3,-12.0588
3407,US-2014-150119,04/23/2014,04/27/2014,Standard Class,LB-16795,Laurel Beltran,Home Office,United States,Columbus,Ohio,43229,East,OFF-BI-10000145,Office Supplies,Binders,Zipper Ring Binder Pockets,7.488,8,0.7,-5.2416
3408,US-2014-150119,04/23/2014,04/27/2014,Standard Class,LB-16795,Laurel Beltran,Home Office,United States,Columbus,Ohio,43229,East,FUR-FU-10002191,Furniture,Furnishings,G.E. Halogen Desk Lamp Bulbs,22.336,4,0.2,7.8176

In [45]:
#select data with name coloumns
selected_data= data[["Order ID","Ship Mode","Region"]]

In [46]:
selected_data.duplicated().sum()

4985

In [ ]:
data

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Country,City,State,Postal Code,Region,Product ID,Sales,Quantity,Discount,Profit
0,1.0,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,261.9600,2.0,0.00,41.9136
1,2.0,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,731.9400,3.0,0.00,219.5820
2,3.0,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,14.6200,2.0,0.00,6.8714
3,4.0,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,957.5775,5.0,0.45,-383.0310
4,5.0,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,22.3680,2.0,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990.0,CA-2014-110422,2014-01-21,2014-01-23,Second Class,TB-21400,United States,Miami,Florida,33180.0,South,FUR-FU-10001889,25.2480,3.0,0.20,4.1028
9990,9991.0,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,United States,Costa Mesa,California,92627.0,West,FUR-FU-10000747,91.9600,2.0,0.00,15.6332
9991,9992.0,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,United States,Costa Mesa,California,92627.0,West,TEC-PH-10003645,258.5760,2.0,0.20,19.3932
9992,9993.0,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,United States,Costa Mesa,California,92627.0,West,OFF-PA-10004041,29.6000,4.0,0.00,13.3200
9993,9994.0,CA-2017-119914,2017-05-04,2017-05-09,Second Class,CC-12220,United States,Westminster,California,92683.0,West,OFF-AP-10002684,243.1600,2.0,0.00,72.9480

In [ ]:
#select data with slicing
selectd_slice = data.iloc[:, 2:9]
selectd_slice

,Order Date,Ship Date,Ship Mode,Customer ID,Country,City,State
0,2016-11-08,2016-11-11,Second Class,CG-12520,United States,Henderson,Kentucky
1,2016-11-08,2016-11-11,Second Class,CG-12520,United States,Henderson,Kentucky
2,2016-06-12,2016-06-16,Second Class,DV-13045,United States,Los Angeles,California
3,2015-10-11,2015-10-18,Standard Class,SO-20335,United States,Fort Lauderdale,Florida
4,2015-10-11,2015-10-18,Standard Class,SO-20335,United States,Fort Lauderdale,Florida
...,...,...,...,...,...,...,...
9989,2014-01-21,2014-01-23,Second Class,TB-21400,United States,Miami,Florida
9990,2017-02-26,2017-03-03,Standard Class,DB-13060,United States,Costa Mesa,California
9991,2017-02-26,2017-03-03,Standard Class,DB-13060,United States,Costa Mesa,California
9992,2017-02-26,2017-03-03,Standard Class,DB-13060,United States,Costa Mesa,California
9993,2017-05-04,2017-05-09,Second Class,CC-12220,United States,Westminster,California

In [ ]:
#filtering
filter_ship_mode = selectd_slice["Ship Mode"] = "Second Class"

In [ ]:
filter_ship_mode

'Second Class'

In [ ]:
# removing null values to avoid errors
data.dropna(inplace = True)

In [ ]:
data.isnull().sum()

Row ID         0
Order ID       0
Order Date     0
Ship Date      0
Ship Mode      0
Customer ID    0
Country        0
City           0
State          0
Postal Code    0
Region         0
Product ID     0
Sales          0
Quantity       0
Discount       0
Profit         0
dtype: int64

In [47]:
#check data
data = data.loc[:,~data.columns.duplicated()]

In [ ]:
data

,row_id,order_id,order_date,ship_date,ship_mode,customer_id,country,city,state,postal_code,region,product_id,sales,quantity,discount,profit
0,1.0,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,261.9600,2.0,0.00,41.9136
2,3.0,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,14.6200,2.0,0.00,6.8714
3,4.0,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,957.5775,5.0,0.45,-383.0310
5,6.0,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,United States,Los Angeles,California,90032.0,West,FUR-FU-10001487,48.8600,7.0,0.00,14.1694
12,13.0,CA-2017-114412,2017-04-15,2017-04-20,Standard Class,AA-10480,United States,Concord,North Carolina,28027.0,South,OFF-PA-10002365,15.5520,3.0,0.20,5.4432
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9986,9987.0,CA-2016-125794,2016-09-29,2016-10-03,Standard Class,ML-17410,United States,Los Angeles,California,90008.0,West,TEC-AC-10003399,36.2400,1.0,0.00,15.2208
9987,9988.0,CA-2017-163629,2017-11-17,2017-11-21,Standard Class,RA-19885,United States,Athens,Georgia,30605.0,South,TEC-AC-10001539,79.9900,1.0,0.00,28.7964
9989,9990.0,CA-2014-110422,2014-01-21,2014-01-23,Second Class,TB-21400,United States,Miami,Florida,33180.0,South,FUR-FU-10001889,25.2480,3.0,0.20,4.1028
9990,9991.0,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,United States,Costa Mesa,California,92627.0,West,FUR-FU-10000747,91.9600,2.0,0.00,15.6332
9993,9994.0,CA-2017-119914,2017-05-04,2017-05-09,Second Class,CC-12220,United States,Westminster,California,92683.0,West,OFF-AP-10002684,243.1600,2.0,0.00,72.9480

In [48]:
data_test.drop_duplicates(subset=['Order ID'], inplace=True)

In [49]:
data_test.duplicated().sum()

0

In [50]:
#pandas sql
from pandasql import sqldf

In [ ]:
q="""
SELECT 
DISTINCT Region 
FROM data;
"""
pysqldf = lambda q: sqldf(q, globals())
a_df = pysqldf(q)
print(a_df)

    Region
0    South
1     West
2  Central
3     East
4   Southn

In [ ]:
region = data['region'].unique()

# Create the pandas DataFrame
contoh_df = pd.DataFrame(region, columns=['region'])
print(contoh_df )

    region
0    South
1     West
2  Central
3     East
4   Southn

In [ ]:
query = """
select *
from data

order by 'Order ID' asc
limit 5
"""
pysqldf = lambda q: sqldf(query, globals())
df = pysqldf(query)
df

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,CA-2016-152156,11/08/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,CA-2016-138688,06/12/2016,06/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
2,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
3,CA-2014-115812,06/09/2014,06/14/2014,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032,West,FUR-FU-10001487,Furniture,Furnishings,Eldon Expressions Wood and Plastic Desk Access...,48.8600,7,0.00,14.1694
4,CA-2017-114412,04/15/2017,04/20/2017,Standard Class,AA-10480,Andrew Allen,Consumer,United States,Concord,North Carolina,28027,South,OFF-PA-10002365,Office Supplies,Paper,Xerox 1967,15.5520,3,0.20,5.4432

In [51]:
#lower case coloumn
data_test.columns = map(str.lower, data_test.columns)
data_test.columns = data_test.columns.str.replace(' ', '_').str.replace('-', '_')

In [52]:
#lower case coloumn
data.columns = map(str.lower, data.columns)
data.columns = data.columns.str.replace(' ', '_').str.replace('-', '_')

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5006 entries, 0 to 9993
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   row_id       5006 non-null   float64
 1   order_id     5006 non-null   object
 2   order_date   5006 non-null   datetime64[ns]
 3   ship_date    5006 non-null   datetime64[ns]
 4   ship_mode    5006 non-null   object
 5   customer_id  5006 non-null   object
 6   country      5006 non-null   object
 7   city         5006 non-null   object
 8   state        5006 non-null   object
 9   postal_code  5006 non-null   float64
 10  region       5006 non-null   object
 11  product_id   5006 non-null   object
 12  sales        5006 non-null   float64
 13  quantity     5006 non-null   float64
 14  discount     5006 non-null   float64
 15  profit       5006 non-null   float64
dtypes: datetime64[ns](2), float64(6), object(8)
memory usage: 793.9+ KB

In [ ]:
data_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5009 entries, 0 to 9993
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_id       5009 non-null   object
 1   order_date     5009 non-null   object
 2   ship_date      5009 non-null   object
 3   ship_mode      5009 non-null   object
 4   customer_id    5009 non-null   object
 5   customer_name  5009 non-null   object
 6   segment        5009 non-null   object
 7   country        5009 non-null   object
 8   city           5009 non-null   object
 9   state          5009 non-null   object
 10  postal_code    5009 non-null   int64
 11  region         5009 non-null   object
 12  product_id     5009 non-null   object
 13  category       5009 non-null   object
 14  sub_category   5009 non-null   object
 15  product_name   5009 non-null   object
 16  sales          5009 non-null   float64
 17  quantity       5009 non-null   int64
 18  discount       5009 non-null   float64
 19  profit         5009 non-null   float64
dtypes: float64(3), int64(2), object(15)
memory usage: 821.8+ KB

In [ ]:
read_file.duplicated().sum()

1

In [ ]:
# initialize list of lists
data_frame = [['tom', 10], ['nick', 15], ['juli', 14]]
 
# Create the pandas DataFrame
df_contoh = pd.DataFrame(data_frame, columns=['Name', 'Age'])
 
# print dataframe.
print(df_contoh)

   Name  Age
0   tom   10
1  nick   15
2  juli   14

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5009 entries, 0 to 9993
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_id       5009 non-null   object
 1   order_date     5009 non-null   object
 2   ship_date      5009 non-null   object
 3   ship_mode      5009 non-null   object
 4   customer_id    5009 non-null   object
 5   customer_name  5009 non-null   object
 6   segment        5009 non-null   object
 7   country        5009 non-null   object
 8   city           5009 non-null   object
 9   state          5009 non-null   object
 10  postal_code    5009 non-null   int64
 11  region         5009 non-null   object
 12  product_id     5009 non-null   object
 13  category       5009 non-null   object
 14  sub_category   5009 non-null   object
 15  product_name   5009 non-null   object
 16  sales          5009 non-null   float64
 17  quantity       5009 non-null   int64
 18  discount       5009 non-null   float64
 19  profit         5009 non-null   float64
dtypes: float64(3), int64(2), object(15)
memory usage: 821.8+ KB

In [ ]:
print(f"Distinct entries: {len(data.groupby(['Order Date', 'Sales']))}")

Distinct entries: 9601

In [ ]:
data['year'] = data['order_date'].dt.year
print(data['year'])

In [ ]:
data['year'].unique()

array([2016, 2015, 2014, 2017])

In [ ]:
data['year'].value_counts()

2019    4273
2018    3175
2017    2520
2016    2441
Name: year, dtype: int64

In [53]:
from sqlalchemy import create_engine
from sqlalchemy.types import Integer, Text, String, DateTime

In [54]:
conection=create_engine('postgresql://username:passwrod@host:port/database')

In [55]:
conn = conection.connect()

In [60]:
# engine = create_engine('postgresql://username:password@localhost:5432/mydatabase')
data.to_sql( 'your table', 
        con=conection,
        schema='schema',
        if_exists='replace',
        index=True,
        index_label = 'index',
        method='multi')

9994

In [63]:
read_data_pg = pd.read_sql("""
select * from binar.superstore_order_ingest
limit 5
""", 
con=conection)
read_data_pg

,index,row_id,order_id,order_date,ship_date,ship_mode,customer_id,country,city,state,postal_code,region,product_id,sales,quantity,discount,profit
0,0,1.0,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,261.9600,2.0,0.00,41.9136
1,1,2.0,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,731.9400,3.0,0.00,219.5820
2,2,3.0,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,14.6200,2.0,0.00,6.8714
3,3,4.0,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,957.5775,5.0,0.45,-383.0310
4,4,5.0,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,22.3680,2.0,0.20,2.5164